---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Página de inicio";
---


<BaseLayout pageTitle={pageTitle}>
  <section class="contenedor">
    <div class="pagina-inicio">
      <h1>EDISON</h1>
      <h1>CEPEDA</h1>
      <h2>DEVELOPER JR.</h2>
    </div>
    <div class="Iconos-about">
      <a href="https://www.linkedin.com/in/cepeda-edison/">
        <img src="https://img.icons8.com/color/48/000000/linkedin.png" />
      </a>
      <a href="https://github.com/CEPE1724">
        <img src="https://img.icons8.com/color/48/000000/github.png" />
      </a>  
    </div>
  </section>
  <section >
    <div class="pagina-inicio">
      <h1>EDISON</h1>
      <h1>CEPEDA</h1>
      <h2>DEVELOPER JR.</h2>
    </div>
    <div class="Iconos-about">
      <a href="https://www.linkedin.com/in/cepeda-edison/">
        <img src="https://img.icons8.com/color/48/000000/linkedin.png" />
      </a>
      <a href="https://github.com/CEPE1724">
        <img src="https://img.icons8.com/color/48/000000/github.png" />
      </a>  
    </div>
  </section>
  <section >
    <div class="pagina-inicio">
      <h1>EDISON</h1>
      <h1>CEPEDA</h1>
      <h2>DEVELOPER JR.</h2>
    </div>
    <div class="Iconos-about">
      <a href="https://www.linkedin.com/in/cepeda-edison/">
        <img src="https://img.icons8.com/color/48/000000/linkedin.png" />
      </a>
      <a href="https://github.com/CEPE1724">
        <img src="https://img.icons8.com/color/48/000000/github.png" />
      </a>  
    </div>
  </section>
  <section >
    <div class="pagina-inicio">
      <h1>EDISON</h1>
      <h1>CEPEDA</h1>
      <h2>DEVELOPER JR.</h2>
    </div>
    <div class="Iconos-about">
      <a href="https://www.linkedin.com/in/cepeda-edison/">
        <img src="https://img.icons8.com/color/48/000000/linkedin.png" />
      </a>
      <a href="https://github.com/CEPE1724">
        <img src="https://img.icons8.com/color/48/000000/github.png" />
      </a>  
    </div>
  </section>
</BaseLayout>
